page{
    box-sizing: border-box;
    padding-top: 80rpx;
    background: #f1f1f1;
}
.cell_item{
    background: #fff;
    margin-bottom: 90rpx;
    .pailie{
        display: flex;
    }
    .box1{
        
        .van-cell{
            background: #eee;
            box-sizing: border-box;
        }
    }
}