page{
  background-color: #f1f1f1;
}
.shimingrenzheng{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  padding-bottom:50px;
  box-sizing: border-box;
  .top{
    width:100%;
    .title{
      display:flex;
      justify-content: space-between;
      padding:15px;
      font-weight:500;
      font-size:18px;
      .set_eid{
        color:#aaa;
        text{
          color:#000;
        }
      }
    }
    .van-cell{
      padding:15px 16px;
      border-bottom: 1px solid #f1f1f1;
      .van-field__label{
        font-size:16px;
        font-weight:100;
        color:#000;
      }
      .van-field__control{
        font-size:16px;
      }
    }
    .van-checkbox{
      padding:15px;
      .value{
        text{
          color:#258FFF;
        }
      }
      
    }
  }
  .bottom{
    font-size:14px;
    font-weight: 200;
    text{
      color:#0081FF;
    }
  }
}