// 合同详情
.detailContract {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;

    .nav {
        box-sizing: border-box;
        width: 60%;
        height: 50px;
        padding: 10px 15px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info {
        width: 100%;
        height: calc(100vh - 60px);
        background: #f1f1f1;
    }
}

// 二维码
.qrCode {
    box-sizing: border-box;
    padding: 0 20px;
    padding-top: 20px;

    .nav {
        height: 40px;
        display: flex;
        align-items: center;
    }

    .qrCodeCenter {
        .title {
            font-size: 24px;
            color: #333;
            padding-top: 50px;
            text-align: center;
        }

        .text {
            font-size: 17px;
            color: #aaa;
            margin-top: 16px;
            text-align: center;
        }

        .img {
            padding-top: 80px;
            display: flex;
            justify-content: center;

            image {
                width: 220px;
                height: 220px;
            }
        }
    }
}